{% extends 'base.html' %}

{% block title %}e-świnka - rejestracja{% endblock %}

{% block body %}

	<main>
		<div class="container mt-5">
			<article>
				<header>
					<h1 class="text-center">Zarejestruj się</h1>
				</header>
				
				<div class="container">
					<form method="post" action="/signup/create">
						<div class="row mt-5">
							<div class="col-12">
								<div class="input-group justify-content-center">
									<div class="input-group-prepend">
										<span class="input-group-text inputsPrepend">
											<i class="icon-user"></i>
										</span>
									</div>
									
									<input type="text" class="form-control inputs" placeholder="Imię" name="name" value="{{ session.name }}" required>
								</div>

								<div class="input-group justify-content-center mt-5">
									<div class="input-group-prepend">
										<span class="input-group-text inputsPrepend">
											<i class="icon-mail-alt"></i>
										</span>
									</div>
									
									<input type="email" class="form-control inputs" placeholder="e-mail" name="email" value="{{ session.email }}" required>
								</div>

								<div class="input-group justify-content-center mt-5">
									<div class="input-group-prepend">
										<span class="input-group-text inputsPrepend">
											<i class="icon-lock"></i>
										</span>
									</div>
									
									<input type="password" class="form-control inputs" placeholder="Hasło" name="password1" required>
								</div>

								<div class="input-group justify-content-center mt-5">
									<div class="input-group-prepend">
										<span class="input-group-text inputsPrepend">
											<i class="icon-lock"></i>
										</span>
									</div>
									
									<input type="password" class="form-control inputs" placeholder="Powtórz hasło" name="password2" required>
								</div>
								
								<div class="input-group justify-content-center my-5">	
									<input type="submit" class="btn form-control inputs submitButtons" value="Zarejestruj się">
								</div>
							</div>
						</div>
					</form>
				</div>
			</article>
		</div>
	</main>

{% endblock %}
