
.icon-user:before { content: '\e800'; } /* '' */
.icon-login:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-down-big:before { content: '\e804'; } /* '' */
.icon-up-big:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-tag:before { content: '\e807'; } /* '' */
.icon-wallet:before { content: '\e808'; } /* '' */
.icon-comment:before { content: '\e809'; } /* '' */
.icon-chart-bar:before { content: '\e80a'; } /* '' */
.icon-cog:before { content: '\e80b'; } /* '' */
.icon-logout:before { content: '\e80c'; } /* '' */
.icon-pencil:before { content: '\e80d'; } /* '' */
.icon-pencil-1:before { content: '\e80e'; } /* '' */
.icon-trash-empty:before { content: '\e80f'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */