{% extends 'base.html' %}

{% block title %}e-świnka - dodaj przychód{% endblock %}

{% block body %}

    <main>
		<div class="container mt-5">
			<article>
				<header>
					<h1 class="text-center">Dodaj przychód</h1>
				</header>
				
				<div class="container">
					<form method="post" action="/income/add">
						<div class="row mt-5">
							<div class="col-12">
								<div class="input-group justify-content-center">
									<div class="input-group-prepend">
										<span class="input-group-text inputsPrepend">
											<i class="icon-money"></i>
										</span>
									</div>
									
									<input type="number" class="form-control inputs" placeholder="Kwota przychodu" step="0.01" min="0.01" name="amount" value="{{ session.amount }}" required>
								</div>
								
								<div class="input-group justify-content-center mt-5">
									<div class="input-group-prepend">
										<span class="input-group-text inputsPrepend">
											<i class="icon-calendar"></i>
										</span>
									</div>
									
									<input placeholder="Data(kliknij, aby ustawić)" class="textbox-n form-control inputs" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" name="date" value="{{ session.date }}" required>
								</div>
								
								<div class="input-group justify-content-center mt-5">
									<div class="input-group-prepend">
										<label class="input-group-text inputsPrepend" for="paymentOptions">
											<i class="icon-tag"></i>
										</label>
									</div>
									
									<select class="custom-select inputs" id="paymentOptions" name="category" value="{{ session.category }}" required>
										<option selected disabled value="">Wybierz kategorię przychodu</option>
										{% for value in session.incomeCategories %}
											<option>{{ value.name }}</option>
										{% endfor %}
									</select>
								</div>
								
								<div class="input-group justify-content-center mt-5">
									<div class="input-group-prepend">
										<span class="input-group-text inputsPrepend">
											<i class="icon-comment"></i>
										</span>
									</div>
									
									<textarea class="form-control inputs" maxlength="40" placeholder="Komentarz(opcjonalnie)" name="comment">{{ session.comment }}</textarea>
								</div>
								
								<div class="d-flex justify-content-center my-5 d-inline-block">	
									<input type="submit" class="btn form-control inputs submitButtons mr-5" value="Dodaj">
									
									<input type="reset" class="btn form-control inputs submitButtons bg-danger ml-5" style="border:none;" value="Wyczyść">
								</div>
							</div>
						</div>
					</form>
				</div>
			</article>		
		</div>
	</main>

{% endblock %}
