{% extends "base.html" %}

{% block title %}e-świnka - logowanie{% endblock %}

{% block body %}

	<main>
		<div class="container mt-5">
			<article>
				<header>
					<h1 class="text-center">Zaloguj się</h1>
				</header>
				
				<div class="container">
					<form method="post" action="/login/create">
						<div class="row mt-5">
							<div class="col-12">
								<div class="input-group justify-content-center">
									<div class="input-group-prepend">
										<span class="input-group-text inputsPrepend">
											<i class="icon-mail-alt"></i>
										</span>
									</div>
									
									<input type="email" class="form-control inputs" placeholder="e-mail" name="email" value="{{ session.email }}" required>
								</div>

								<div class="input-group justify-content-center mt-5">
									<div class="input-group-prepend">
										<span class="input-group-text inputsPrepend">
											<i class="icon-lock"></i>
										</span>
									</div>
									
									<input type="password" class="form-control inputs" placeholder="Hasło" name="password" required>
								</div>
								
								<div class="input-group justify-content-center mt-3">
									<div class="form-check">
										<label>
											<input type="checkbox" class="form-check-input" name="remember_me" {% if session.remember_me %} checked="checked"{% endif %} /> Zapamiętaj mnie
										</label>
									</div>
								</div>

								<div class="input-group justify-content-center mt-3 mb-5">	
									<input type="submit" class="btn form-control inputs submitButtons" value="Zaloguj się">
								</div>
							</div>
						</div>
					</form>
				</div>
			</article>
		</div>
	</main>
	
{% endblock %}
