{% extends "base.html" %}

{% block title %}e-świnka - błąd 500{% endblock %}

{% block body %}

    <main>
		<div class="container mt-5">
			<article>
				<header>
					<h1 class="text-center">Błąd 500</h1>
				</header>
				
				<div class="row mt-5">
					<div class="col-md-4 mb-4 my-auto">
						<img src="/img/piggy7.png" class="img-fluid" alt="piggy">
					</div>
				
					<div class="col-md-8">
						<p class="lead text-center">Błąd serwera</p>
						
						<p class="lead text-center">Przepraszamy za niedogodności</p>
					</div>
				</div>
			</article>
			
		</div>
	</main>

{% endblock %}
