<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		
		<meta name="description" content="Aplikacja wspomagająca zarządzanie bużetem domowym."/>
		<meta name="keywords" content="oszczędzanie, pieniąze, bużet domowy, budżet, dom, wydatki, przychody, bilans, saldo"/>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/style.css"/>
		<link rel="stylesheet" href="/css/fontello.css" type="text/css"/>
		
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700%7CTitan+One&display=swap&subset=latin-ext" rel="stylesheet">		
		<title>{% block title %}{% endblock %}</title>
	</head>
	
	<body>
		<nav class="navbar navbar-dark navbar-expand-sm navigation">
			<header>
				<a class="navbar-brand mr-1" href="/">
					<img src="/img/piggy.png" height="60" alt="logo"><p class="align-middle"><span class="yellow">e</span>-świnka</p>
				</a>
			</header>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".menu" aria-expanded="false" aria-label="Przełącznik nawigacji">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			{% if current_user %}
					<div class="collapse navbar-collapse menu">
						<div class="navbar-nav ml-auto">
							<span class="nav-item my-auto mr-3 loogedUser">Zalogowany użytkownik: 
								<span class="font-weight-bold yellow">{{ current_user.name }}</span>
							</span>
							
							<a class="nav-item nav-link" href="/wyloguj">
								<i class="icon-logout"></i> Wyloguj
							</a>
						</div>
					</div>
				</nav>
				
				<nav class="navbar navbar-dark navbar-expand-md navigation2 py-0 py-md-2">	
					<div class="collapse navbar-collapse menu">
						<ul class="navbar-nav mx-auto">
							<li class="nav-item mx-3">
								<a class="nav-link {{ incomes_active }}" href="/dodaj-przychod">
									<i class="icon-up-big"></i> Dodaj przychód
								</a>
							</li>
							
							<li class="nav-item mx-3">
								<a class="nav-link" href="expense.php">
									<i class="icon-down-big"></i> Dodaj wydatek
								</a>
							</li>
							
							<li class="nav-item mx-3 dropdown">
								<a class="nav-link dropdown-toggle" href="balance.php" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="icon-chart-bar"></i> Bilans
								</a>
								
								<div class="dropdown-menu navigation2" aria-labelledby="navbarDropdown">
								  <a class="dropdown-item nav-link" href="balanceCurrentMonth.php">Bieżący miesiąc</a>
								  <a class="dropdown-item nav-link" href="balancePreviousMonth.php">Poprzedni miesiąc</a>
								  <a class="dropdown-item nav-link" href="balanceCurrentYear.php">Bieżący rok</a>
								  <a class="dropdown-item nav-link" href="#" data-toggle="modal" data-target="#customBalance">Niestandardowy...</a>
								</div>
							</li>
							
							<li class="nav-item mx-3">
								<a class="nav-link" href="#">
									<i class="icon-cog"></i> Ustawienia
								</a>
							</li>
						</ul>
					</div>
				</nav>
			{% else %}
					<div class="collapse navbar-collapse menu">
						<div class="navbar-nav ml-auto">
							<a class="nav-item nav-link {{ login_active }}" href="/logowanie">
								<i class="icon-login"></i> Logowanie
							</a>
							
							<a class="nav-item nav-link {{ register_active }}" href="/rejestracja">
								<i class="icon-user-plus"></i> Rejestracja
							</a>
						</div>
					</div>
				</nav>
			{% endif %}
		
		{% block navigation %}{% endblock %}
		
		{% for message in flash_messages %}
            <div class="alert alert-{{ message.type }} m-3 text-center">
                {{ message.body }}
            </div>
        {% endfor %}
		
		{% block body %}
        {% endblock %}
		
		<footer class="footer navigation">
			&copy; <span class="font-weight-bold"><span class="yellow">e</span>-świnka</span> 2020
		</footer>
	
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
	</body>
</html>
